<!DOCTYPE html>
<html lang="en">
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0"/>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<link href="/e-cafe/assets/css/normalize.css" rel="stylesheet" type="text/css"/>
	<link href="/e-cafe/assets/css/skeleton.css" rel="stylesheet" type="text/css"/>
	<link href="/e-cafe/assets/css/style.css" rel="stylesheet" type="text/css"/>
	<title>e-cafe.com</title>
  	<link rel="icon" type="image/png" href="/e-cafe/assets/images/favicon.png">
  	<style type="text/css">
		#subAbout{
			align-content: center;
			text-align: center;
		}
		#subAbout h4{
			font-weight: bold;
		}
		#subAbout p{
			font-size: 16px;
			color: black;
		}

		#subAbout img{
			padding-top: 70px;
			padding-bottom: 50px;
		}

		#menuCategory{
			align-content: center;
			text-align: center;
		}
  	</style>

</head>
<body>
  <div class="container">
  
	<div class="row">
		<div class="twelve columns" id="sectionHeader">
		&nbsp;
			<h3 id="foodMenu">MENU CATEGORY</h3>
		</div>
	</div>
	<div class="row" >
		<div class="one column" id="menuCategory" style=" height: 150px; border: 0px solid #e7e7e7;" > 
			<h1> < </h1>
		</div>
		<div class="two columns" id="menuCategory" style=" height: 150px; border: 0px solid #e7e7e7;" > 
			<img alt="most Ordered" src="/e-cafe/assets/images/mostOrdered.png" title="most Ordered" >
			
			<p> Most Ordered </p> 
		</div>
		<div class="two columns" id="menuCategory" style=" height: 150px; border: 0px solid #e7e7e7;" > 
			<img alt="Recent Orders" src="/e-cafe/assets/images/recentIcon.png" title="Recent Orders" >
			
			<p> Recent Orders </p> 
		</div>
		<div class="two columns" id="menuCategory" style=" height: 150px; border: 0px solid #e7e7e7;" > 
			<img alt="4. Enjoy" src="/e-cafe/assets/images/enjoyIcon.png" title="4. Enjoy" style="width: 64px; height:64px;">
			
			<p> Highly Rated </p> 
		</div>
		<div class="two columns" id="menuCategory" style=" height: 150px; border: 0px solid #e7e7e7;" > 
			<img alt="4. Enjoy" src="/e-cafe/assets/images/enjoyIcon.png" title="4. Enjoy" style="width: 64px; height:64px;">
			
			<p> Near You </p> 
		</div>
		<div class="two columns" id="menuCategory" style=" height: 150px; border: 0px solid #e7e7e7;" > 
			<img alt="Todays Special" src="/e-cafe/assets/images/specialIcon.png" title="Todays special">
			
			<p> Todays Special </p> 
		</div>
		<div class="one column" id="menuCategory" style=" height: 150px; border: 0px solid #e7e7e7;" > 
			<h1> > </h1>
		</div>
	</div>
	
	

	<div class = "row" >
		<div class="three columns" style=" border: 0px solid #e7e7e7;" > </div>
		<div class="three columns" style=" border: 0px solid #e7e7e7;"> </div>
		<div class="three columns" style=" border: 0px solid #e7e7e7;"> </div>
		<div class="three columns" style=" border: 0px solid #e7e7e7;"> </div>
	</div>
	<div class = "row" >
		<div class="three columns" style=" border: 0px solid #e7e7e7;" > </div>
		<div class="three columns" style=" border: 0px solid #e7e7e7;"> </div>
		<div class="three columns" style=" border: 0px solid #e7e7e7;"> </div>
		<div class="three columns" style=" border: 0px solid #e7e7e7;"> </div>
		&nbsp;
	</div>

  </div>
 
<!-- End Documentstyle="border: 1px solid black;"
  ––––––––––––––––––––––––––––––––––––––––––––––––––-->
</body>
</html>
