<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0"/>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<link href="/e-cafe/assets/css/normalize.css" rel="stylesheet" type="text/css"/>
  <link href="/e-cafe/assets/css/skeleton.css" rel="stylesheet" type="text/css"/>
  <link href="/e-cafe/assets/css/style.css" rel="stylesheet" type="text/css"/>
	<title>e-cafe.com</title>
  	<link rel="icon" type="image/png" href="images/favicon.png">
  	<style type="text/css">
		
  	</style>

</head>
<body>
  <div class="container">
    <div class="row footer">
      <div class="four columns">
        <h4>Infomation</h4>
        <a class="column" href="/e-cafe/index.php#about">About e-cafe</a>
        <a class="column">Login</a>
        <a class="column">Sign Up</a>
        <a class="column">Terms of service</a>
        <a class="column">Privacy Policy</a>
      </div>
      <div class="four columns">
        <h4>My Account</h4>
        <a class="column">My Orders</a>
        <a class="column">Liked Food</a>
        <a class="column" href="#" >My Account</a>
        <a class="column" href="/e-cafe/customer/index.php" >My Reviews</a>
        <a class="column" href="/e-cafe/customer/foodCart.php" >My Cart</a>
      </div>
      <div class="four columns">
        <h4>Browse</h4>
        <a class="column">Previous Orders</a>
        <a class="column">View restraunts by region</a>
        <a class="column" href="/e-cafe/deliverySignUp.php">Find delivery Jobs</a>
        <a class="column">Menu Categories</a>
        <a class="column" href="#top" >Top</a>
      </div>
  </div>
  </div>
 
<!-- End Documentstyle="border: 1px solid black;"
  ––––––––––––––––––––––––––––––––––––––––––––––––––-->
</body>
</html>
