<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0"/>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<link href="/e-cafe/assets/css/normalize.css" rel="stylesheet" type="text/css"/>
	<link href="/e-cafe/assets/css/skeleton.css" rel="stylesheet" type="text/css"/>
	<link href="/e-cafe/assets/css/style.css" rel="stylesheet" type="text/css"/>
	<title>e-cafe.com</title>
  	<link rel="icon" type="image/png" href="images/favicon.png">
  	<style type="text/css">
        		
  	</style>

</head>
<body>
  <div class="container">
  	<div id="fixedHeader">
  		<!-- Logo area -->
  		<div class = "row" id="logo">
  		<div class="three"><h1>E -CAFE</h1> </div>
  		<div class="seven">
  			<select name="category" id="searchOption" style="height: 30px; font-size: 11px; line-height: 25px; padding: 0px; ">
  				<option value="all">All Categories</option>
  				<option value="recent">Recent Orders</option>
				<option value="most">Most Orders</option>
				<option value="rated">High Rated</option>
				<option value="near"> Near You</option>
			</select>
  			<input id="searchInput" type="text" name="searchInput" placeholder="search.." maxlength="10" size="20" 
  				style="height: 30px; width: 300px; line-height: 25px; ">
  			<button id = "searchButton" style="height: 30px; font-size: 11px; line-height: 25px; padding: 0px;">search</button>
  		</div>
  		<div class="two">
  		<ul>
  			<li><a href="#">orders</a></li>
            <li><a href="#"> lked </a></li>
  		</ul>
  		</div>
  		</div>	
  		<!-- end of Logo area -->
    	<!-- Navigation area -->
		  <div class="row">
			<div class="twelve columns" style="height: 50px;">
				<nav style="height: 50px;">
        			<ul id="menu">
            			<li><a href="index.html" class="active" >HOME</a></li>
                        <li><a href="#about"> ABOUT </a></li>
            			<li><a href="#foodMenu"> MENU </a></li>
            			<li><a href="restaurant.html">RESTAURANTS</a></li>
            			<li style="float:right;"><a href="addRestaurant.html"> ADD RESTAURANT </a></li>
            			<li style="float:right;"><a href="signup.html"> SIGN UP</a></li>
            			<li style="float:right;"><a href="login.html">LOGIN</a></li>
        			</ul>
    			</nav>
			</div>
		</div>
		<!-- Navigation area ends &nbsp; -->
   </div>
    <div class="row" id="top" style="height:150px;">
      
    </div>
	
  </div>
 
<!-- End Documentstyle="border: 1px solid black;"
  ––––––––––––––––––––––––––––––––––––––––––––––––––-->
</body>
</html>
